$primaryBgColor: rgba(255, 255, 255, 0.95);
$primaryColor:#FF9C00;
$primaryLightColor:#FFE3B7;
$loginBgColor:#F7F0E3;
$borderColor:#A1A1A1;
$fontBlack:#000000;
$fontGray:#A39E9E;
$fontWhite:#FFFFFF;
$sidebarBg:#FBF9F8;
$sidebarDarkBg:#F9F2EF;
$sidebarLinkBg:#F2EEEA;
$dangerColor:#DD3A3A;